body
{
    color: blue;

    text-align: center;
    font-family: arial;
    font-size: l6px;
    margin: 0;
    padding: 0;

}
#cabecera
{
background: #33a;
color: white;
font-weight: bold;
margin: 0;
padding: 0.5cm;

}
#cabecera #tagline
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin:  0 auto;
}
#container 
{
    text-align: left;
    font-size: 20px;
    margin: 0 auto;
}
    
